*{padding: 0;
margin: 0;
box-sizing: border-box;}

body{background-color: #000;}

.titulo {background-color:black;
    color: aqua;
    text-align: center;
}
.navigator {margin-top: 10px;
}

li{display: inline;
margin-left: 25px;
background-color: aqua;
}

li a{text-decoration:none;}

.container{display: grid;
    grid-template-columns:repeat(3, 1fr);
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
   }

.table {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-style:dotted;
    border-radius: 8px ;
    margin-top: 20px;
    background-color: #444;
    color: white;
 
}

.table tr td{border-top: aqua solid;
    border-bottom: solid aqua;}

.table tr th{border-top: aqua solid;
}


.form {
margin-left: 25px;
background-color:#444;


}
 
.form p{display: flex;
flex-direction: column;}

.i{display: flex;
background-color: #8888;
flex-direction: column;
padding-top: 25px;}

.form p input:hover{background-color: rebeccapurple;}